[submodule "vim/bundle/tmuxline.vim"]
	path = vim/bundle/tmuxline.vim
	url = https://github.com/edkolev/tmuxline.vim
	branch = master
[submodule "tmux"]
	path = tmux
	url = https://github.com/gpakosz/.tmux.git
[submodule "conky"]
        path = conky
        url = https://github.com/j-maynard/conky-setup
        branch = main
