[submodule "vim/bundle/airline"]
	path = vim/bundle/airline
	url = https://github.com/vim-airline/vim-airline.git
    branch = master
[submodule "vim/bundle/git-gutter"]
	path = vim/bundle/git-gutter
	url = https://github.com/airblade/vim-gitgutter
    branch = master
[submodule "vim/bundle/nerdtree"]
	path = vim/bundle/nerdtree
	url = https://github.com/preservim/nerdtree.git
    branch = master
[submodule "vim/bundle/nerdtree-git-plugin"]
        path = vim/bundle/nerdtree-git-plugin
        url = https://github.com/xuyuanp/nerdtree-git-plugin
        branch = master
[submodule "vim/bundle/vim-sensible"]
        path = vim/bundle/vim-sensible
        url = https://github.com/tpope/vim-sensible
        branch = master
[submodule "vim/bundle/tmuxline.vim"]
	path = vim/bundle/tmuxline.vim
	url = https://github.com/edkolev/tmuxline.vim
	branch = master
[submodule "tmux"]
	path = tmux
	url = https://github.com/gpakosz/.tmux.git
[submodule "conky"]
        path = conky
        url = https://github.com/j-maynard/conky-setup
        branch = main
[submodule "vim/bundle/vim-airline-themes"]
	path = vim/bundle/vim-airline-themes
	url = git@github.com:vim-airline/vim-airline-themes.git
[submodule "vim/bundle/vim-fugitive"]
	path = vim/bundle/vim-fugitive
	url = git@github.com:tpope/vim-fugitive.git
[submodule "vim/bundle/vim-devicons"]
	path = vim/bundle/vim-devicons
	url = git@github.com:ryanoasis/vim-devicons.git
