*.swp
.optional.txt
vim/autoload/
mutt/cache/
mutt/gmail/
mutt/icloud-passwords.txt
mutt/gmail-passwords.txt
encrypted/*.sh
encrypted/*.txt
tmux.env
.optional.txt
wingpg/socat-gpg.pid
zshenv
vim/.netrwhist
gituser
