connectedOutputs=$(xrandr | grep " connected" | sed -e "s/\([A-Z0-9]\+\) connected.*/\1/")
activeOutput=$(xrandr | grep -E " connected (primary )?[1-9]+" | sed -e "s/\([A-Z0-9]\+\) connected.*/\1/")

for display in $connectedOutputs
do
	if [ ! -z $lastDisplay ]; then
		xrandr --output "$display" --right-of "$lastDisplay" --auto
	fi
	lastDisplay=$display
done
